.navHome {
    background-color: rgb(255, 235, 253);
    padding: 0px 20px;
    display: flex;
    text-decoration: none;
    gap: 20px;
    color: black;
}

.navHome a{
    color: black;
    text-decoration: none;
}

.navLink:first-child {
    margin-left: 0;
}


ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 20px;
    justify-content: space-between;
}

