.navAuth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;

}

.navAuth ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navAuth li {
    margin-left: 20px;

}

.navAuth a {
    text-decoration: none;
    color: #000000;
}

.navAuth a:hover {
    color: #ff7f50;
}